@import "tailwindcss";

:root {
  --color-primary: #5B21B6; /* Deep Purple */
  --color-secondary: #421abb; /* Electric Blue */
  --color-background: #0A0A0A; /* Dark Background */
  --color-foreground: #F8F9FA; /* Light Foreground */;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000000;
    --color-foreground: #FFFFFF;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.hero-container {
  background: url('/stars.jpg') center/cover no-repeat fixed; /* Static stars */
}

/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: background 0.3s ease-in-out;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.85); /* Black on scroll */
}

/* 3D Text Hover Effect */
.hero-title {
  transition: transform 0.3s ease-out, text-shadow 0.3s ease-out;
}

.hero-title:hover {
  transform: perspective(500px) rotateX(10deg) rotateY(-10deg);
  text-shadow: 0px 0px 15px rgba(125, 249, 255, 0.75);
}

html {
  scroll-behavior: smooth;
}

/* In your global styles or Tailwind CSS config */
.highlighted-marker {
  transform: scale(1.5); /* Increase size of the marker */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}